.education-container {

    &__content {
        @include position-center-justify;

        &__header {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &__title {
                color: $color-letter-menu;
            }
        }

        &__education {

            &__text {
                text-transform: uppercase;
            }

            &__centers {
                display: flex;
                flex-direction: column;

                .MuiButtonBase-root[aria-expanded="true"] {
                    border-bottom: 1px solid $color-border;
                }
            }

            &__image {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
            }
        }
    }
}