.education-container {
    height: 100%;

    &__content {
        height: 100%;

        &__header {
            display: flex;
            justify-content: space-between;

            &__title {
                color: $color-letter-menu;
            }

            &__image {
                padding-top: 8px;
            }
        }

        &__education {
            height: 100%;
            @include position-center-justify;

            &__text {
                text-transform: uppercase;
            }
        }
    }
}