.experience-container {

    &__content {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &__title {
                color: $color-letter-menu;
            }
        }

        &__experience {

            &__list {
                @include text;
                padding-left: 0;
            }
        }
    }
}