.home-container {
    min-height: calc(100vh - 110px);

    &__content {
        min-height: calc(100vh - 110px);
        @include position-center-column;

        &__img {
            @media (max-width: 576px) {
                width: 100%;
            }
        }

        &__text {
            @include animation-title;
        }

        &__rol {
            color: $color-letter-menu;
            font-size: 20px;
            margin-top: 0;
        }
    }
}