.projects-container {

    &__content {
        @include position-center-justify;

        &__header {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &__title {
                color: $color-letter-menu;
            }
        }

        &__body {

            &__list {
                display: flex;
                flex-direction: column;

                &__title {}
            }
        }
    }
}