.skills-container {

    &__content {
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: flex-start;

            &__title {
                color: $color-letter-menu;
            }
        }

        &__body {

            &__text {
                @include text;
            }
        }

        &__image {
            @include image;
        }
    }
}